@media (max-width: 1024px) {
  .reply-box {
    max-width: 50%;
  }
  .requests-box {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .reply-box {
    max-width: 90%;
  }
  .reply-box input {
    width: 60%;
  }
  .requests-box {
    width: 90%;
    height: auto;
    min-height: 300px;
  }
  .status-buttons button {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}
body {
  font-family: Arial, sans-serif;
}
.wrap {
  position:fixed; 
  width: 100%;   
  height: 100%;  
  display: flex; 
  flex-direction: column; 
}
main {
    flex-grow: 1; 
    overflow-y:auto;
}
.admin-panel {
  text-align: center;
  width: 100%;
}

.admin-panel h1 {
  padding: 20px 0;
  margin: 0;
  font-size: 20px;
}

.reply-box {
    max-width: 22%;
  margin: 40px auto;
  text-align: center;
}

.reply-box h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.reply-box input {
  display: block;
  width: 20vw;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.status-block {
  margin-top: 15px;
  text-align: center;
}

.status-block label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.status-buttons button {
  background: #ddd;
  border: none;
  padding: 10px 18px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.status-buttons button:hover {
  background: #bbb;
}

.requests-box {
  background: #f7f7f7;
  margin: 0 auto;
  width: 60%;
  padding: 30px;
  border-radius: 4px;
  height: 46vh;
}

.requests-box h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.requests-content {
  font-size: 18px;
  color: #aaa;
}
.btn-logout {
  background-color: #f8f8f8;;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 15px;
}