@media (max-width: 1024px) {
  .contacts-section {
    gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .contacts-block {
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
  }
  .contact-info {
    font-size: 20px;
  }
}
.wrap {
  position:fixed; 
  width: 100%;   
  height: 100%;  
  display: flex; 
  flex-direction: column; 
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1; 
}

.contacts-section {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  width: 80%;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: center;
}

.map iframe{
  width: 28vw;
  height: 28vw;
}

.contacts-block {
  width: 50vh;
  height: 30vh;
  min-height: 70%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 30px;
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-block h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.contact-info {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-links img {
  transition: transform 0.3s;
  height: 12vh;
  width: 12vh;
}

.social-links img:hover {
  transform: scale(1.1);
}
