
body {
  background: #fff;
  color: #000;
  line-height: 1.6;
}

/* Верхний текст */
.intro {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 30px 60px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Блок фото + текст */
main {
    background-color: #f3f3f3;
    border-radius: 20px;
    max-width: 99%;
    margin: 10px auto;
}
.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  justify-content: center;
  
}
.about-text {
  font-size: 1.25rem;
  text-align: center;
}
.about-img img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}
