

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}



body {
  height: 100%;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.header img {
  height: 60%;
  width: 60%;
}

.nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.btn-login {
  text-decoration: none;
  background: #92C9A0;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s;
}

.btn-login:hover {
  background: #2f6f31;
}

/* Общая декоративная полоса */
.separator {
  width: 60%;
  max-width: 600px;
  height: 2px;
  background: #000;
  margin: 25px auto;
}
.separator1 {
  width: 60%;
  margin-left: 2%;
  max-width: 1200px;
  height: 4px;
  background: #000;
  text-align: left;
  border-radius: 10px;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  gap: 30px;
  align-items: center;
  padding: 50px;
  background: #f3f3f3;
  border-radius: 12px;
  margin: 40px auto;
  width: 90%;
  box-shadow: 0 3px 50px rgba(0,0,0,0.15);
  
}

.hero-text h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.hero-text h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.hero-text p {
  font-size: 15px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.hero-side {
  text-align: center;
}

.enroll-img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 0 auto 20px auto;
  display: block;
}

.hero-extra {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: auto;
  align-items: flex-end;
  width: 30%;
  margin-right: 5%;   
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.hero-extra p {
  margin-bottom: 10px;
}

.org-img {
  max-width: 400px;
  margin: 0 auto;
}

/* Info */
.info {
  padding: 40px 50px;
  border-radius: 12px;
}

.info-intro {
  margin-bottom: 25px;
  font-size: 25px;
  text-align: left;
  width: 40%;
}

.info-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f3f3f3; /* Серый фон */
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  margin: auto;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.info-item p {
  max-width: 70%;
  font-size: 25px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  max-width: 120px;
}

/* Раздел с проектами */
.projects {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  background: #f3f3f3; /* Серый фон */
  border-radius: 12px;
  margin: 40px auto;
  padding: 10px;
  width: 90%;
  box-shadow: 0 3px 50px rgba(0,0,0,0.15);
  align-items: center;
  justify-content: center;
}

.projects-text p {
  margin-bottom: 20px;
  font-size: 1.5vw;
  text-align: justify;
}

.projects-img img {
  width: 28vw;
  height: 28vw;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Методическая поддержка */
.support {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  background: #f3f3f3; /* Серый фон */
  border-radius: 12px;
  margin: 40px auto;
  width: 90%;
  padding: 10px;
  box-shadow: 0 3px 50px rgba(0,0,0,0.15);
  align-items: center;
  justify-content: center;
}

.support-text p {
  margin-bottom: 15px;
  font-size: 1.5vw;
  text-align: justify;
}

.support-img img {
  width: 28vw;
  height: 28vw;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  
}

/* Footer */
.footer {
  background: #f8f8f8;
  padding: 40px;
  text-align: center;
  font-weight: bold;
  flex-grow: 0; 
  flex-shrink: 0; 
  flex-basis: auto;
}

.footer-slogan {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  width: 50%;
  background: #f8f8f8;
  margin: 40px auto;
  border-radius: 20px;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-align: left;
  font-size: 14px;
}

.contacts {
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (max-width: 780px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    
  }
  .hero-extra {
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }


  .info-intro {
    width: 95%;
  }
  .separator1 {
    display: none;
  }
  .info-grid {
    flex-direction: row;
    gap: 0px;
    min-height: 28vh;
  }
  .info-item {
    display: flex;
    flex-direction: column-reverse;
    padding: 3px;
    gap: 10px;
  }
  .info-item p {
    font-size: 15px;
    text-align: center;
    max-width: 80%;
  }
  .info-item img {
    width: 10vw;
    height: 10vh;
  }
}