@media (max-width: 1024px) {
  .container {
    padding: 50px;
  }
  .profile img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }
  .profile {
    flex-direction: column;
    text-align: center;
  }
  .profile img {
    width: 150px;
    height: 150px;
  }
  .form {
    max-width: 90%;
    margin: 0 auto;
  }
  .requests-box {
    width: 90%;
    margin-top: 30px;
    height: auto;
    min-height: 200px;
  }
}
body {
  font-family: Arial, sans-serif;
}
.wrap {
  position:fixed;
  width: 100%;   
  height: 100%;  
  display: flex; 
  flex-direction: column; 
}
main {
    flex-grow: 1; 
    overflow-y:auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  padding: 100px;
}
.profile {
   display: flex;
   align-items: center;
   gap: 20px;
 }
.profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.profile-info {
  font-size: 16px;
}
.form {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form h2 {
  margin-bottom: 20px;
  font-size: 22px;
  justify-self: center;
  align-self: center;
}
.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.form button {
  background: #dcdcdc;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  justify-self: center;
  align-self: center;
}
.form button:hover {
  background: #bbb;
}
.requests-box {
  background: #f7f7f7;
  margin: 0 auto;
  width: 60%;
  padding: 30px;
  border-radius: 4px;
  height: 46vh;
}

.requests-box h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.requests-content {
  font-size: 18px;
  color: #aaa;
}
.btn-logout {
  background-color: #f8f8f8;;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 15px;
}